@page "/"

<PageTitle>Bank Account Blazor App</PageTitle>
<h1>Personal Bank Account</h1>

<div class="row">
    <div class="col-md-4">
        <input type="text" placeholder="Enter your name."  />
        <button class="btn-success" style="margin:3px;">Submit</button>
    </div>
</div>



@code{
    
}
